# .github/workflows/pack-image.yml
name: Pack Image

on:
  workflow_call:
    inputs:
      rootfs_url:
        required: true
        type: string
      whoami_content:
/XMLSchema::SimpleType(name='string', base='http://www.w3.org/2001/XMLSchema#string')
        required: true
        type: string

jobs:
  pack:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout openwrt_packit
        uses: actions/checkout@v4
        with:
          repository: unifreq/openwrt_packit

      - name: Download and rename rootfs
        run: |
          URL="${{ inputs.rootfs_url }}"
          wget -O downloaded.tar.gz "$URL"
          ORIGINAL=$(basename "$URL")
          if [[ "${ORIGINAL,,}" == openwrt-* ]]; then
            FINAL="$ORIGINAL"
          else
            FINAL="openwrt${ORIGINAL#*-}"
          fi
          mv downloaded.tar.gz "$FINAL"
          echo "ROOTFS_FILE=$FINAL" >> $GITHUB_ENV

      - name: Write whoami
        run: echo '${{ inputs.whoami_content }}' > whoami

      - name: Pack
        run: |
          ROOTFS_FILE="${{ env.ROOTFS_FILE }}"
          sudo cp "$ROOTFS_FILE" .
          sudo ./mk_s905d_n1.sh _test

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: packed-image
          path: output/*.img
